body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

header img {
  height: 50px;
  margin-right: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
  color: #007BFF;
}

.app-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.app-input label {
  margin-right: 10px;
  font-weight: bold;
}

.app-input input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

.app-input button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.app-input button:hover {
  background-color: #0056b3;
}

.steps {
  margin: 20px 0;
}

.step {
  margin-bottom: 20px;
}

.collapsible {
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.2em;
  margin-bottom: 5px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.collapsible:hover {
  background-color: #0056b3;
}

.collapsible:after {
  content: '\002B';
  font-size: 1.2em;
  float: right;
}

.active:after {
  content: '\2212';
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f9f9f9;
  border-left: 2px solid #007BFF;
  border-radius: 4px;
}

pre {
  background: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
  margin: 10px 0;
}

.copyBtn {
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 4px;
  display: block;
  margin-top: 5px;
  transition: background-color 0.3s ease;
}

.copyBtn:hover {
  background-color: #218838;
}
